body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.controls {
    dysplay: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 300px;
    height: 150px;
    background-color: #ffffff;
    padding: 20px;
}
input[type="range"] {
    width: 250px;
} 
label {
    font-size: 18px;
    margin-bottom: 10px;
}
.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    height: 200px;
}
.result-box {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 0;
    border: 5px solid #3859c4;
}
.code-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #d8e7f8;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}