body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.controls {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 20px;
    
}
.controls > div > label{
    margin-right: 20px;
}
input[type="range"] {
    width: 250px;
} 
label {
    font-size: 18px;
    margin-bottom: 10px;
}
.result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}
.result-box {
    width: 300px;
    height: 300px;
    background: linear-gradient(135deg, #6b8ce3, #3859c4, #2a3e9c, #1e2a6b);
    border-radius: 0;
    border: 0px solid #3859c4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.code-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #d8e7f8;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}